<h1>Editing Factoryrecertifieddelllaptop</h1>

<%= render 'form', factoryrecertifieddelllaptop: @factoryrecertifieddelllaptop %>

<%= link_to 'Show', @factoryrecertifieddelllaptop %> |
<%= link_to 'Back', factoryrecertifieddelllaptops_path %>
