<div class="container" style="margin-top:-0px">
    <% flash.each do |message_type, message| %>
  <h1 style="font:100px"> <%= content_tag(:div, message, class: "alert alert-#{message_type}") %></h1> 
<% end %>
</div>

