<div class="container"  id="contact" style="margin-top:100px;">
    
    <div class="col-sm-4" id="contact" style="margin-top:100px;"></div>
<div class="col-sm-4">
   <%= render 'contact_form' %>
</div>
<div class="col-sm-4"></div>
    
</div>
    

