


<!--<div class="container">-->
<!--        	<div class="row">-->
<!--               <div class="col-xs-4 item-photo">-->
                    <%#= image_tag @adeapartment.image_url , :id => 'apartment_image', class: "img-responsive" %>
<!--                </div>-->
<!--                <div class="col-xs-5" style="border:0px solid gray">-->
                    <!-- Datos del vendedor y titulo del producto -->
                    <h3><%#= @adeapartment.name %></h3>    
<!--                    <h5 style="color:#337ab7">vendido por <a href="#">Samsung</a> · <small style="color:#337ab7">(5054 ventas)</small></h5>-->
        
                    <!-- Precios -->
<!--                    <h6 class="title-price"><small>Price </small></h6>s-->
                    <h3 style="margin-top:0px;"><%#= @adeapartment.price %></h3>
<!--                    <h3>  Pay Now or Contact Seller</h3>-->
<!--                    <div>-->
<!--                        <form action="/process" method="POST" >-->
<!--  <script-->
<!--    src="https://js.paystack.co/v1/inline.js" -->
<!--    data-key="pk_test_221221122121"-->
<!--    data-email="customer@email.com"-->
<!--    data-amount="10000"-->
<!--    data-ref=<UNIQUE TRANSACTION REFERENCE>-->
  
<!--  </script>-->
<!--</form>-->
<!--                    </div>-->
        
                    <!-- Detalles especificos del producto -->
<!--                    <div class="section">-->
<!--                        <h6 class="title-attr" style="margin-top:15px;" ><small>Address</small></h6>                    -->
<!--                        <div>-->
                            <div class="attr""><%#= @adeapartment.address %></div>
<!--                            <div class="attr" "></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="section" style="padding-bottom:5px;">-->
<!--                        <h6 class="title-attr"><small>Description</small></h6>                    -->
<!--                        <div>-->
                            <div class="attr2"><%#= @adeapartment.description %></div>
<!--                            <div class="attr2"></div>-->
<!--                        </div>-->
<!--                    </div>   -->
<!--                    <div class="section" style="padding-bottom:5px;">-->
<!--                        <h6 class="title-attr"><small>Category</small></h6>                    -->
<!--                        <div>-->
                            <div class="attr2"><%#= @adeapartment.category %></div>
<!--                            <div class="attr2"></div>-->
<!--                        </div>-->
<!--                    </div>   -->
<!--                    <div class="section" style="padding-bottom:20px;">-->
                        <!--<h6 class="title-attr"><small>CANTIDAD</small></h6>                    -->
<!--                        <div>-->
                            <!--<div class="btn-minus"><span class="glyphicon glyphicon-minus"></span></div>-->
                            <!--<input value="1" />-->
                            <!--<div class="btn-plus"><span class="glyphicon glyphicon-plus"></span></div>-->
<!--                        </div>-->
<!--                    </div>                -->
        
                    <!-- Botones de compra -->
                    <!--<div class="section" style="padding-bottom:20px;">-->
                    <!--    <button class="btn btn-success"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> </button>-->
                    <!--    <h6><a href="#"><span class="glyphicon glyphicon-heart-empty" style="cursor:pointer;"></span> </a></h6>-->
                    <!--</div>                                        -->
<!--                </div>                              -->
        
                