<h2>Current Cart</h2>

<div class="container">
	<table id="cart" class="table table-hover table-condensed">
    <thead>
						
    <tr>
     <h3> <td>Product</td></h3>
     <h3> <td>Price</td></h3>
      <h3><td>Quantity</td></h3>
     <h3> <td></td>
    </tr>
  </thead>
  <tbody>
   
    
          
  </tbody>
</table>
</div>
</div>