<h1>Editing Factoryrecertifiedacerlaptop</h1>

<%= render 'form', factoryrecertifiedacerlaptop: @factoryrecertifiedacerlaptop %>

<%= link_to 'Show', @factoryrecertifiedacerlaptop %> |
<%= link_to 'Back', factoryrecertifiedacerlaptops_path %>
