/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 
 @import "bootstrap-sprockets";
 @import "bootstrap";


// #mastercare {
//   margin-top: 0px;
// }


// #pulldown {
//   margin-top: 10px;
// }

 //will_paginate start
 .center {
  width: 275px;
  margin: 0 auto;
}


 
 //will_paginate start end
 
 
 .form-group {
  margin-bottom: 1em;
  width: 100%;

  &.honeypot {
    position: absolute;
    left: -9999px;
  }
}
 
.ml5 {
  position: relative;
  font-weight: 50;
  font-size: 1.5em;
  color: #402d2d;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: #402d2d;
  transform-origin: 0.5 0;
}

.ml5 .ampersand {
  font-family: Baskerville, "EB Garamond", serif;
  font-style: italic;
  font-weight: 50;
  width: 1em;
  margin-right: -0.1em;
  margin-left: -0.1em;
}

.ml5 .letters {
  display: inline-block;
  opacity: 0;
}

#introword {
  font: 30 20px/1.2 'Merienda One', Helvetica, sans-serif;
  color: rgba(0,0,0,0.7);
  text-shadow: 3px 3px 3px #fff;
}

img {
    height: 250px;
    width: relative;
}

#featured {
  
  font-style:italic; 
  font-size: 2vw; 
}


// #main-content{
    
//     margin-top: 0px;
// }
   
//   .secondnavbar{
    
//     margin-top: 10px;
// } 
 



h2{
  text-align:center;
  padding: 20px;
}





body {
  background-position: center;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  color: #606060;
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  font-size: 26px;
  font-weight: normal;
  line-height: 1.5;
  text-transform: none;
}

a {
  color: #dc9814;
  text-decoration: none;
}

a:hover {
  color: #dc9814;
  text-decoration: none;
}


.card-body p:last-child, .card-body ol:last-child, .card-body ul:last-child {
  margin-bottom: 0;
}

.card-body .tab-content {
  padding: 0;
  border: 0;
}

.card.bg-primary .card-header {
  background-color: #c98b12;
}

.card.bg-secondary .card-header,
.card.bg-faded .card-header {
  background-color: #ebebeb;
}

.card.bg-success .card-header {
  background-color: #94ac3d;
}

.card.bg-info .card-header {
  background-color: #6fb1ea;
}

.card.bg-warning .card-header {
  background-color: #c89b06;
}

.card.bg-danger .card-header {
  background-color: #d1045b;
}

.card.bg-dark .card-header {
  background-color: #313131;
}

.text-white .card-title,
.text-light .card-title {
  color: #ffffff;
}

.text-white .card-text,
.text-light .card-text {
  color: rgba(255, 255, 255, 0.85);
}


.accordion .card {
  margin-bottom: -2px;
  background-color: transparent;
}

.accordion .card-header {
  padding: 0;
  border-top: 2px solid #eaeaea;
  border-bottom: 2px solid #eaeaea;
  background-color: transparent;
}

.accordion [data-toggle='collapse'] {
  display: block;
  position: relative;
  padding: 15px 1.2rem;
  padding-right: 40px;
  transition: background-color .25s;
  background-color: #f5f5f5;
  color: #606060;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .025em;
  text-transform: uppercase;
  text-decoration: none;
}




//
// Base styles
//

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
 
  background-clip: border-box;

 

  > hr {
    margin-right: 0;
    margin-left: 0;
  }

  > .list-group:first-child {
    .list-group-item:first-child {
     
    }
  }

  > .list-group:last-child {
    .list-group-item:last-child {
   
    }
  }
}

.card-body {
  // Enable `flex-grow: 1` for decks and groups so that card blocks take up
  // as much space as possible, ensuring footers are aligned to the bottom.
  flex: 1 1 auto;
  
}



.card-subtitle {
  
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}




//
// Optional textual caps
//

 



//
// Header navs
//




// Card image
.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}

.card-img {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
 
}

// Card image caps
.card-img-top {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch

}

.card-img-bottom {
  width: 100%; // Required because we use flexbox and this inherently applies align-self: stretch
 
}



a:hover {
  color: #0da9ef;
  text-decoration: none;
}

a:focus {
  outline: none;
}

.small, small {
  font-size: 100%;
}

// .navi-link,
// .navi-link-light {
//   transition: color .3s;
//   color: #606975;
//   text-decoration: none;
// }

// .navi-link:hover,
// .navi-link-light:hover {
//   color: #0da9ef;
// }

// .navi-link-light {
//   color: #ffffff;
// }

img,
figure {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

svg {
  max-width: 100%;
}





.card-img-tiles {
  display: block;
  border-bottom: 1px solid #e1e7ec;
}

.card-img-tiles > .inner {
  display: table;
  width: 100%;
}

.card-img-tiles .main-img,
.card-img-tiles .thumblist {
  display: table-cell;
  width: 65%;
  padding: 15px;
  vertical-align: middle;
}

.card-img-tiles .main-img > img,
.card-img-tiles .thumblist > img {
  display: block;
  width: 100%;
  margin-bottom: 6px;
}

.card-img-tiles .main-img > img:last-child,
.card-img-tiles .thumblist > img:last-child {
  margin-bottom: 0;
}

.card-img-tiles .thumblist {
  width: 35%;
  border-left: 1px solid #e1e7ec;
}

.category-card .view-button {
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
  transition: all .4s;
  opacity: 0;
}

.category-card:hover .view-button {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.touchevents .category-card .view-button {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

@media (max-width: 768px) {
  .category-card .view-button {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.accordion .card {
  margin-bottom: 8px;
}

.accordion [data-toggle='collapse'] {
  display: block;
  position: relative;
  color: #606975;
  text-decoration: none;
}

.accordion [data-toggle='collapse']::after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 0;
  height: 0;
  margin-top: -2px;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  border-right: 5px solid transparent;
  border-bottom: 5px dashed;
  border-left: 5px solid transparent;
  content: '';
}

.accordion [data-toggle='collapse'].collapsed::after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.accordion [data-toggle='collapse'] > i {
  margin-top: -4px;
  margin-right: 7px;
}

.accordion [data-toggle='collapse'] > i.socicon-paypal {
  display: inline-block;
  margin-top: 1px;
  font-size: .8em;
  vertical-align: middle;
}

.accordion [data-toggle='collapse'] > i.icon-medal {
  width: 16px;
  height: 16px;
  background-size: 16px;
}

.pagination {
  display: table;
  width: 100%;
  border-top: 1px solid #e1e7ec;
}

.pagination > .column {
  display: table-cell;
  padding-top: 16px;
  vertical-align: middle;
}

.pagination .pages {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination .pages > li {
  display: inline-block;
  width: 36px;
  height: 36px;
  font-size: 14px;
  font-weight: 500;
  line-height: 34px;
  text-align: center;
}

.pagination .pages > li > a {
  display: block;
  width: 36px;
  height: 36px;
  transition: all .3s;
  border: 1px solid transparent;
  border-radius: 50%;
  color: #606975;
  line-height: 34px;
  text-decoration: none;
}

.pagination .pages > li > a:hover {
  border-color: #e1e7ec;
  background-color: #f5f5f5;
}

.pagination .pages > li.active > a {
  border-color: #0da9ef;
  background-color: #0da9ef;
  color: #ffffff;
}

.pagination .btn > i {
  margin-top: -5px;
}



.card:not([class*='mb-']):not([class*='margin-bottom-']) + .list-group {
  margin-top: -1px;
}

.card:not([class*='mb-']):not([class*='margin-bottom-']) + .list-group .list-group-item:first-child {
  border-radius: 0;
}




// /* ================================
//   # Footer styles
// ================================= */
// .ct-footer-header {
//   font-family: 'Open Sans Condensed', sans-serif;
// }
// .address {
//   font-size: 14px;
//   font-size: 1.4rem;
// }
// .address strong {
//   font-weight: 700;
//   display: block;
// }
// .address span.footer-form {
//   color: #0079c2;
// }
// .address a {
//   font-size: 19px;
//   font-size: 1.9rem;
//   font-weight: 600;
//   display: block;
//   padding-bottom: 20px;
//   padding-bottom: 2rem;
// }
// .address a:hover {
//   text-decoration: underline;
// }
// .address span {
//   display: block;
//   margin-top: 5px;
//   margin-top: 0.5rem;
// }
// .address .address-disclaimer {
//   font-size: 14px;
//   font-size: 1.4rem;
//   font-weight: 600;
// }
// .ct-select .selectize-input {
//   line-height: .7;
// }
// .ct-footer {
// background-color: #111;
// color: #cbc9c9;
// padding-top: 40px;
// padding-top: 4rem;
// }
// .ct-footer p {
// font-size: 14px;
// font-size: 1.4rem;
// color: #f9f9f9;
// }
// .ct-footer-header {
// color: #00bff3;
// text-transform: uppercase;
// font-size: 20px;
// font-size: 2rem;
// font-weight: 700;
// padding: 30px 0 25px;
// padding: 3rem 0 2.5rem;
// }
// .ct-footer-list li a {
// font-size: 14px;
// font-size: 1.4rem;
// color: #cbc9c9;

// }
// .ct-footer-list li a:hover {
// text-decoration: underline;
// }
// .ct-footer-list li + li {
// margin-top: 5px;
// margin-top: 0.5rem;
// }
// .ct-footer .ct-post_footer {
// background-color: #252525;
// color: #fff;
// padding: 20px 0;
// padding: 2rem 0;
// font-family: 'Arial';
// font-size: 13px;
// font-size: 1.3rem;

// }
// .ct-footer .ct-post_footer ul.list-inline {
//   font-size: 1.2rem;
  
// }
// .ct-footer .ct-post_footer a:hover {
// text-decoration: underline;
// }
// .ct-footer .ct-post_footer p {
// margin: 0;
// margin: 0;
// font-size: inherit;
// }
// .ct-footer .ct-post_footer ul li {
// position: relative;
// }
// .ct-footer .ct-post_footer ul li + li {
// padding-left: 17px;
// padding-left: 1.7rem;
// margin-left: 5px;
// margin-left: 0.5rem;
// }
// .ct-footer .ct-post_footer ul li + li:before {
// content: '';
// position: absolute;
// top: 20%;
// left: 0;
// height: 60%;
// width: 1px;
// width: 0.1rem;
// background: #fff;
// }
// address {
// font-size: 14px;
// font-size: 1.4rem;
// }
// address b {
// font-size: inherit;
// text-transform: uppercase;
// }
// address span {
// display: block;
// margin-top: 5px;
// margin-top: 0.5rem;
// }


// .form-control-borderless {
//     border: none;
// }

// .form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
//     border: none;
//     outline: none;
//     box-shadow: none;
// }



























.title {
 
    margin-bottom: 50px;
    text-transform: uppercase;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
     
}
.card {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top:20px;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}
.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}
.carousel-indicators .active {
    background-color: white;
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
}
.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
  

.btn {
  margin-top: auto;
}



.listing-item{
position: relative;
width: 100%;
margin-bottom: 50px;
}
.listing-item-img{
display: inline-block;
width: 33%;
vertical-align: top;
}

.listing-item-content{
display: inline-block;
width: 42%;
vertical-align: top;
}
.listing-item-title{
margin-top:0px;
}
.listing-item-price{
color: #8DA2F7;
font-weight: 600;
}
.listing-item-buttons-group{
    display: inline-block;
    width: 23%;
    vertical-align: top;
    text-align: center;
}

.listing-item-button{
border: none;
background-color: transparent;
font-size: 1.05em;
width: 100%;
margin-bottom: 25px;
}

.listing-item-button.primary{
background-color: #5177F6;
color: #ffffff;
}
.listing-item-button.secondary{
background-color: #54AAFF;
color: #ffffff;
}

// footer {
//     position: fixed;
//   left: 0;
//   bottom: 0;
//   width: 100%;
//   text-align: center;
// }


// #scrolltext {
//     margin-bottom: 0px;
//     margin-top: 5px;
//     font-size: 18px;
//     font-weight: 100;
// }
// @media screen and (min-width: 768px) {
//     #type {
//         font-size: 23px;
//     }
// }






@import url('https://fonts.googleapis.com/css?family=Montserrat');

.onoffswitch3
{
    position: relative; 
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch3-checkbox {
    display: none;
}

.onoffswitch3-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 0px solid #999999; border-radius: 0px;
}

.onoffswitch3-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch3-inner > span {
    display: block; float: left; position: relative; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: 'Montserrat', sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.onoffswitch3-inner .onoffswitch3-active {
    padding-left: 10px;
    background-color: #EEEEEE; color: #FFFFFF;
}

.onoffswitch3-inner .onoffswitch3-inactive {
    width: 100px;
    padding-left: 16px;
    background-color: #EEEEEE; color: #FFFFFF;
    text-align: right;
}

.onoffswitch3-switch {
    display: block; width: 50%; margin: 0px; text-align: center; 
    border: 0px solid #999999;border-radius: 0px; 
    position: absolute; top: 0; bottom: 0;
}
.onoffswitch3-active .onoffswitch3-switch {
    background: #27A1CA; left: 0;
    width: 160px;
}
.onoffswitch3-inactive{
    background: #A1A1A1; right: 0;
    width: 20px;
}
.onoffswitch3-checkbox:checked + .onoffswitch3-label .onoffswitch3-inner {
    margin-left: 0;
}

.glyphicon-remove{
    padding: 3px 0px 0px 0px;
    color: #fff;
    background-color: #000;
    height: 25px;
    width: 25px;
    border-radius: 15px;
    border: 2px solid #fff;
}

.scroll-text{
    color: #000;
}


/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 60px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.3;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}



.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }
 
 
 
 body{margin:0;}
.s-media{
 position: fixed;
 top: 100px ;
 left: 0;
 z-index: 1000;
 transition:all linear 0.2s ;
}
.s-media a:first-child{
    border-radius: 0 5px 0 0;
}
.s-media a:last-child{
    border-radius: 0 0 5px 0;
}
.s-item {
    display:block;
    width: 60px;
    height: 60px;
    color: white;
    font-size: 25px;
    line-height: 60px;
    text-align: center;

    transition:all linear 0.2s ;
}
.s-item:hover {
    width:70px;
    
}

#sm-open {
    position: fixed;
    top: 100px ;
    left: -60px;
    border-radius:0 30px 30px 0;
    
    transition:all linear 0.2s ;
}
.facebook {background-color: #305891;}
.twitter {background-color: #3AAFD6;}
.gplus {background-color: #F8694D; }
.print {background-color: #7CB0A4;}
.sm-collapse{left: -60px; }







/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

#contactus {
  font-size: 2vw;
  color:white;
  text-transform: uppercase;
  font-weight: bolder;
}

#owl-demo .item{
  background: #3fbf79;
  padding: 30px 0px;
  margin: 10px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.customNavigation{
  text-align: center;
}
//use styles below to disable ugly selection
.customNavigation a{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
 
 
@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}
