<br>
<hr>

<div class="onoffswitch3">
    <input type="checkbox" name="onoffswitch3" class="onoffswitch3-checkbox" id="myonoffswitch3" checked>
    <label class="onoffswitch3-label" for="myonoffswitch3">
        <span class="onoffswitch3-inner">
            <span class="onoffswitch3-active">
                <marquee class="scroll-text">3 Bedroom flat for rent at Abule Egba via Olaniyi - total pakage ₦447,000. Call: 07055620001 <span class="glyphicon glyphicon-forward"></span>Hire Drivers: Hire freelance or full-time drivers with backround checked <span class="glyphicon glyphicon-forward"></span> Buy a brand new HP laptop at less ₦60,000 <span class="glyphicon glyphicon-forward"></span>  Hire Aluminium fabricators or buy aluminium casement window for ₦45,000 <span class="glyphicon glyphicon-forward"></span>Hire freelance writers and researchers at a reasonable fees <span class="glyphicon glyphicon-forward"></span>Hire Mechanics:<span class="glyphicon glyphicon-forward"></span>Sotware Developers Here! - call 07055620001 </marquee>
                <span class="onoffswitch3-switch">BREAKING NEWS <span class="glyphicon glyphicon-remove"></span></span>
            </span>
            <span class="onoffswitch3-inactive"><span class="onoffswitch3-switch">SHOW BREAKING NEWS</span></span>
        </span>
    </label>
</div>
