<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>

<div class="container">
  <!--<h2>Featured Partners</h2>-->
   <section class="customer-logos slider">
      <div class="slide"><img src="https://babanla.s3.us-east-2.amazonaws.com/assets/featured/automechanic_ronix.jpg"></div>
      <div class="slide"><img src="https://babanla.s3.us-east-2.amazonaws.com/assets/featured/alunimium_bsolu.jpg"></div>
      <div class="slide"><img src="https://babanla.s3.us-east-2.amazonaws.com/assets/featured/software_developers!.jpg"></div>
      <div class="slide"><img src="https://babanla.s3.us-east-2.amazonaws.com/assets/featured/mbi1.jpg"></div>
      <div class="slide"><img src="https://babanla.s3.us-east-2.amazonaws.com/assets/featured/WhatsAps_07055620001.jpg"></div>
      <div class="slide"><img src="https://babanla.s3.us-east-2.amazonaws.com/assets/featured/peter.jpg"></div>
      <div class="slide"><img src="https://babanla.s3.us-east-2.amazonaws.com/assets/featured/D-Computers+Computer+Village+Lagos.jpg"></div>
      <div class="slide"><img src="https://babanla.s3.us-east-2.amazonaws.com/assets/featured/ola_tailor1.jpg"></div>
      <div class="slide"><img src="https://babanla.s3.us-east-2.amazonaws.com/assets/featured/diprinter_p.jpg"></div>
      <div class="slide"><img src="https://babanla.s3.us-east-2.amazonaws.com/assets/featured/list_here.jpg"></div>
   </section>
   

</div>


<script>
    $(document).ready(function(){
    $('.customer-logos').slick({
        slidesToShow: 6,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 1500,
        arrows: false,
        dots: false,
        pauseOnHover: false,
        responsive: [{
            breakpoint: 768,
            settings: {
                slidesToShow: 4
            }
        }, {
            breakpoint: 520,
            settings: {
                slidesToShow: 3
            }
        }]
    });
});
</script>