<footer class="ct-footer text-center-sm text-center-xs">
            <div class="container-fluid">
                 <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3">
                <h5>About</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-0">
                    Akobe Limited will list your products and sell your services. Our customers on some items listed enjoy products financing.
                </p>
            </div>

           
            <div class="col-md-4 col-lg-3 col-xl-3">
                <h5>Contact</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><i class="fa fa-home mr-2"></i> Akobe Limited</li>
                    <li><i class="fa fa-envelope mr-2"></i> peter.akobe@gmail.com</li>
                    <li><i class="fa fa-phone mr-2"></i> + 234 811 333 6667</li>
                    <li><i class="fa fa-print mr-2"></i> + 234 705 562 0001</li>
                </ul>
            </div>
            
            
          
            <div class="col-md-4 col-lg-3 col-xl-3">
                <h5>Contact</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><i class="fa fa-home mr-2"></i> Akobe Limited</li>
                    <li><i class="fa fa-envelope mr-2"></i> 15, Shasha Road</li>
                    <li><i class="fa fa-phone mr-2"></i> Akowonjo</li>
                    <li><i class="fa fa-print mr-2"></i> Lagos</li>
                </ul>
            </div>
            <div class="col-12 copyright mt-3">
                <p class="float-left">
                    <a href="#">Back to top</a>
                </p>
                <p class="text-right text-muted">created with <i class="fa fa-heart"></i> by <a href=><i>hardskillshub</i></a> | <span>v. 1.0</span></p>
            </div>
        </div>
    </div>
               
            <div class="ct-post_footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 col-lg-2 text-center-md text-center-bg text-center-xs hidden-md">
                            
                          <h4> AKOBE </h4><!--<a href="/"><img alt="Logo" src="https://www.solodev.com/assets/footer/logo.png"></a>-->
                        </div>
                        <div class="col-sm-6 col-md-4 text-center ct-u-paddingTop10">
                            <p>
                                © 2016 Akobe Limited. All Rights Reserved.
                            </p>
                        </div>
                        <div class="col-sm-6 col-md-5 col-lg-4 text-center ct-u-paddingTop10">
                            <ul class="list-unstyled list-inline">
                                <li>
                                    <!--<a href="/sitemap.stml">Site Map</a>-->
                                </li>
                                <li>
                                    <!--<a href="/privacy-policy.stml">Privacy Policy</a>-->
                                </li>
                                <li>
                                    <!--<a href="/contact-us.stml">Contact Us</a>-->
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2 text-right text-center-md text-center-sm text-center-xs ct-u-paddingTop10">
                            <p>
                                Powered by <a href="//www.akobe.org" target="_blank">HardSkillsHub</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


<!-- Footer -->
<!--<footer class="text-dark">-->
    <!--<div class="container-fluid">-->
    <!--    <div class="row">-->
    <!--        <div class="col-md-3 col-lg-4 col-xl-3">-->
    <!--            <h5>About</h5>-->
    <!--            <hr class="bg-dark mb-2 mt-0 d-inline-block mx-auto w-25">-->
    <!--            <p class="mb-0">-->
    <!--                Akobe Limited will list your products and sell your services. Our customers on some items listed enjoy products financing.-->
    <!--            </p>-->
    <!--        </div>-->

           
    <!--        <div class="col-md-4 col-lg-3 col-xl-3">-->
    <!--            <h5>Contact</h5>-->
    <!--            <hr class="bg-dark mb-2 mt-0 d-inline-block mx-auto w-25">-->
    <!--            <ul class="list-unstyled">-->
    <!--                <li><i class="fa fa-home mr-2"></i> Akobe Limited</li>-->
    <!--                <li><i class="fa fa-envelope mr-2"></i> peter.akobe@gmail.com</li>-->
    <!--                <li><i class="fa fa-phone mr-2"></i> + 234 811 333 6667</li>-->
    <!--                <li><i class="fa fa-print mr-2"></i> + 234 705 562 0001</li>-->
    <!--            </ul>-->
    <!--        </div>-->
            
            
          
    <!--        <div class="col-md-4 col-lg-3 col-xl-3">-->
    <!--            <h5>Contact</h5>-->
    <!--            <hr class="bg-dark mb-2 mt-0 d-inline-block mx-auto w-25">-->
    <!--            <ul class="list-unstyled">-->
    <!--                <li><i class="fa fa-home mr-2"></i> Akobe Limited</li>-->
    <!--                <li><i class="fa fa-envelope mr-2"></i> akobelimited@gmail.com</li>-->
    <!--                <li><i class="fa fa-phone mr-2"></i> + 234 811 333 6667</li>-->
    <!--                <li><i class="fa fa-print mr-2"></i> + 234 705 562 0001</li>-->
    <!--            </ul>-->
    <!--        </div>-->
    <!--        <div class="col-12 copyright mt-3">-->
    <!--            <p class="float-left">-->
    <!--                <a href="#">Back to top</a>-->
    <!--            </p>-->
    <!--            <p class="text-right text-muted">created with <i class="fa fa-heart"></i> by <a href=><i>hardskillshub</i></a> | <span>v. 1.0</span></p>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
<!--</footer>-->


<!--<style>-->
<!--.footer {-->
<!--  position: fixed;-->
<!--  left: 0;-->
<!--  bottom: 0;-->
<!--  width: 100%;-->
<!--  background-color: dark;-->
<!--  color: white;-->
<!--  text-align: center;-->
<!--}-->
<!--</style>-->

<!--</div>-->