<div class="container-fluid">
<!-- Footer -->
<footer class="text-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3">
                <h5>About</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-0">
                    Akobe Limited will list your products and sell your services. Our customers on some items listed enjoy products financing.
                </p>
            </div>

           
            <div class="col-md-4 col-lg-3 col-xl-3">
                <h5>Contact</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><i class="fa fa-home mr-2"></i> Akobe Limited</li>
                    <li><i class="fa fa-envelope mr-2"></i> peter.akobe@gmail.com</li>
                    <li><i class="fa fa-phone mr-2"></i> + 234 811 333 6667</li>
                    <li><i class="fa fa-print mr-2"></i> + 234 705 562 0001</li>
                </ul>
            </div>
            
            
          
            <div class="col-md-4 col-lg-3 col-xl-3">
                <h5>Contact</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><i class="fa fa-home mr-2"></i> Akobe Limited</li>
                    <li><i class="fa fa-envelope mr-2"></i> peter.akobe@gmail.com</li>
                    <li><i class="fa fa-phone mr-2"></i> + 234 811 333 6667</li>
                    <li><i class="fa fa-print mr-2"></i> + 234 705 562 0001</li>
                </ul>
            </div>
            <div class="col-12 copyright mt-3">
                <p class="float-left">
                    <a href="#">Back to top</a>
                </p>
                <p class="text-right text-muted">created with <i class="fa fa-heart"></i> by <a href=><i>hardskillshub</i></a> | <span>v. 1.0</span></p>
            </div>
        </div>
    </div>
</footer>


<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
</style

</div>