

<footer class="ct-footer text-center-sm text-center-xs " >
    <!--        <div class="container-fluid">-->
    <!--             <div class="container-fluid">-->
    <!--    <div class="row">-->
    <!--        <div class="col-md-3 col-lg-4 col-xl-3">-->
    <!--            <h5 class="btn btn-danger">About</h5>-->
    <!--            <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">-->
    <!--            <p class="mb-0">-->
    <!--                Akobe Limited is an online retail store. Customers  are to bargain for products & Services listed. <br> Concession are always given to customers.-->
    <!--            </p>-->
    <!--        </div>-->

           
    <!--        <div class="col-md-4 col-lg-3 col-xl-3">-->
    <!--            <h5 class="btn btn-danger">Contact</h5>-->
    <!--            <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">-->
    <!--            <ul class="list-unstyled">-->
    <!--                <li class="mb-0"><i class="fa fa-home mr-2" ></i> Akobe Limited</li>-->
    <!--                <li class="mb-0"><i class="fa fa-envelope mr-2"></i> akobelimited@gmail.com</li>-->
    <!--                <li class="mb-0"><i class="fa fa-phone mr-2"></i> + 234 811 333 6667</li>-->
    <!--                <li class="mb-0"><i class="fa fa-print mr-2"></i> + 234 705 562 0001</li>-->
    <!--            </ul>-->
    <!--        </div>-->
            
    <!--         <div class="col-md-4 col-lg-3 col-xl-3">-->
    <!--            <h5 class="btn btn-danger">Services</h5>-->
    <!--            <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">-->
    <!--            <ul class="list-unstyled">-->
    <!--                <li><i class="fa fa-home mr-2"></i> Sell Products</li>-->
    <!--                <li><i class="fa fa-envelope mr-2"></i> Sell Services</li>-->
    <!--                <li><i class="fa fa-phone mr-2"></i> Sell Business</li>-->
    <!--                <li><i class="fa fa-print mr-2"></i> Sell Research</li>-->
    <!--            </ul>-->
    <!--        </div>-->
            
          
    <!--        <div class="col-md-4 col-lg-3 col-xl-3">-->
    <!--            <h5 class="btn btn-danger">Address</h5>-->
    <!--            <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">-->
    <!--            <ul class="list-unstyled">-->
                    
    <!--                <li><i class="fa fa-envelope mr-2"></i> 15, Shasha Road</li>-->
    <!--                <li><i class="fa fa-home mr-2"></i> Opp. Zenith BAnk Beside KFC</li>-->
    <!--                <li><i class="fa fa-phone mr-2"></i> Akowonjo</li>-->
    <!--                <li><i class="fa fa-print mr-2"></i> Lagos</li>-->
                    
    <!--            </ul>-->
    <!--        </div>-->
    <!--        <div class="col-12 copyright mt-3">-->
    <!--            <p class="float-left">-->
    <!--                <a href="#">Back to top</a>-->
    <!--            </p>-->
    <!--            <p class="text-right text-muted">created with <i class="fa fa-heart"></i> by <a href=><i>hardskillshub</i></a> | <span>v. 1.0</span></p>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
               
           
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 col-lg-2 text-center-md text-center-bg text-center-xs hidden-md">
                            
                          <h4 class="btn btn-warning"> AKOBE </h4>
                        </div>
                        <div class="col-sm-6 col-md-4 text-center ct-u-paddingTop0">
                            <p class="mb-0">
                                © 2019 Akobe Limited. All Rights Reserved.
                            </p>
                        </div>
                        <div class="col-sm-6 col-md-5 col-lg-4 text-center ct-u-paddingTop0">
                            <ul class="list-unstyled" >
                                
                                <li class="mb-0"><i class="fa fa-home mr-2" ></i> 15, Shasha Road Akowonjo Lagos</li>
                     <li class="mb-0"><i class="fa fa-envelope mr-2"></i> akobelimited@gmail.com</li>
                    <li class="mb-0"><i class="fa fa-print mr-2"></i> + 234 705 562 0001</li>
                                
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-2 text-right text-center-md text-center-sm text-center-xs ct-u-paddingTop0">
                            <p>
                                Powered by <a href="//www.akobe.org" target="_blank">Akobe</a>
                            </p>
                        </div>
                    </div>
                </div>
           
        </footer>


