<div class="container">
    <div class="row">
         <div class="col-md-3">
             <div class="card border-primary mb-3" style="max-width: auto;">
              <div class="card-header"><h4>Hire a Driver Now!</h4></div>
              <div class="card-body text-primary">
              <h5 class="card-title">Driver Ready for Hire</h5>
             
              <p class="card-text">Start from ₦40,000 monthly you can hire a driver with many years experience. All drivers have their background checked.</p>
            
  
              </div>
              </div>
         </div>
         <div class="col-md-3">
             <div class="card border-secondary mb-3" style="max-width: auto;">
              <div class="card-header"><h4>Training 2020</h4></div>
              <div class="card-body text-secondary">
              <h5 class="card-title">RUBY, NodeJS & PHP</h5>
              <p class="card-text">Grow your expertise and build the software you desire when you attend the web/app deveopment training</p>
              </div>
        </div>
         </div>
         <div class="col-md-3">
            <div class="card border-success mb-3" style="max-width: auto;">
            <div class="card-header"><h4>Hire a Tiler</h4></div>
            <div class="card-body text-success">
            <h5 class="card-title">Tiler is Ready for Hire!</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div> 
         </div>
         <div class="col-md-3">
             <div class="card border-danger mb-3" style="max-width: auto;">
             <div class="card-header"><h4>Auto Mechanic</h4></div>
             <div class="card-body text-danger">
             <h5 class="card-title">Hire Mechanics Now!</h5>
             <p class="card-text">You can hire mechanics with experience in new scanning technologies and expertise in major car brands </p>
             </div>
        </div>
         </div>
    </div>
</div>

<hr>