<div class="s-media">
    <a href="https://www.facebook.com/akobelimited/" class="s-item facebook">
    	<span class="fa fa-facebook"></span>
    </a>
    
    <a href="https://twitter.com/AkobeLimited" class="s-item twitter">
    	<span class="fa fa-twitter"></span>
    </a>
    

    <!--<a href="/" class="s-item gplus">-->
    <!--	<span class="fa fa-google-plus"></span>-->
    <!--</a>-->

    <a id="sm-close"  class="s-item print">
        <span class="fa fa-arrow-left"></span>
    </a>

 </div>
 <a id="sm-open"  class="s-item print sm-collapse">
        <span class="fa fa-arrow-right"></span>
    </a>